html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;

    background: black;
}

p {}

nav {
    background: rgba(39, 18, 8, 0.7);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    width: 100vw;

    z-index: 9;
}



nav>a {
    text-decoration: none;
    color: white;
    margin: 0 20px;
}


#title {
    position: absolute;
    border: 2px white solid;
    color: white;
    padding: 100px;
    backdrop-filter: blur(4px);


}

.icon {
    color: rgba(255, 255, 255, 0.3);
    z-index: 2;
    font-size: 2em;

    position: relative;
    bottom: -30%;



}

.icon:hover {
    color: rgba(216, 122, 14, 0.4);

}

.left,
.right {

    top: 0;
}


#hero {
    height: 100vh;
    background-image: url('/img/hero_2.png');
    background-size: cover;
    background-repeat: none;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#hero-code {
    height: 100vh;
    background-image: url('img/hero_2.png');
    background-size: cover;
    background-repeat: none;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}








main {




}


.portfolio_title {




    position: relative;
    top: -20%;
    color: white;
    display: flex;


    justify-content: center;
    align-items: center;
    flex-direction: row;

    text-indent: 20px;

}



#av_container {
    scroll-snap-type: x mandatory;

    background: black;

    display: flex;

    align-items: center;
    justify-content: center;

    width: 100%;




}


.portfolio_text {
    color: white;
}

#epiflora {

    padding: 30px;

    height: 100vh;



}

#epiflora img {
    max-width: 50vw;


}




#epiflora img {
    max-width: 80vw;
}



/* GRID CONTAINER */ 

.grid-wrapper {
display: grid;
width: 900px;
max-width: 95%;
height: 90vh;

margin: 30px auto;
padding: 5px;

grid-gap: 5px;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(6, 1fr) ;


background: white;
} 

.box {
    background: ivory;

    background: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.5) ;
}

.box:hover {



}





.box.grid-item-1 {
    grid-column: span 3;
    grid-row: span 3;

    background-image: url('/img/epiflora_1.jpeg');

}

.box.grid-item-2 {
    grid-column: span 2;
    grid-row: span 2;

    background-image: url('/img/epiflora_2.jpeg');

}


.box.grid-item-3 {
    grid-column: 1 / span 2;
    grid-row: 4 / span 3;

    background-image: url('/img/Boreal.png');


}


.box.grid-item-4 {
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;

    background-image: url('/img/boreal_1.jpg');


}



.box.grid-item-5 {
    grid-column: 4 / span 2;
    grid-row: 3 / span 2;

    background-image: url('/img/hero_1.png');



}

.box.grid-item-6 {
    grid-column: span 3;
    grid-row:  span 2;

    background-image: url('/img/hero_2.png');



}
































/* FOOOTER */

footer {
    display: flex;
    justify-content: center;

}

footer i {
    margin: 20px;
}