* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Georgia, 'Times New Roman', Times, serif;
}



html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;

    background: black;
}


main {}

p {}


.top {

    height: 100vh;

}



#title {
    position: absolute;
    border: 2px white solid;
    color: white;
    padding: 100px;
    backdrop-filter: blur(4px);


}

.icon {
    color: rgba(255, 255, 255, 0.3);
    z-index: 2;
    font-size: 1rem;
    position: relative;
    bottom: -70%;
    transition: .5s all ease-in-out;




}

.icon::before {

    font-size: 1.5rem;

}

.icon:hover {

    color: rgb(255, 255, 255);
    transition: .5s all ease-in-out;

}



#hero {
    height: 50vh;
    margin: 80px 0 20px 0;
    background-image: url('/img/hero_2.png');
    background-size: cover;
    background-repeat: none;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#hero-code {
    height: 100vh;
    background-image: url('img/hero_2.png');
    background-size: cover;
    background-repeat: none;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}














#av_container {

    background: black;
    position: relative;
    top: -30vh;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;

    margin-bottom: 30px;




}

#epiflora {

    /* display: flex;
    flex-direction: column; */
    /* justify-content: center;
    align-items: center; */

    /* height: 100vh; */

    width: 100%;

}





.epiflora-header {
    max-width: 75vw;
    justify-content: start;
    position: relative;
    left: 0;
}

.intro {
    opacity: 0;
    transform: translateY(20px);

    transition: 2s all ease-in-out;

}

.intro-appear {

    opacity: 1;

    transform: translateY(0px);


}


.portfolio_title {




    position: relative;
    top: -50vh;
    /* left: 10vw; */
    padding-right: 2rem;
    color: white;
    display: flex;

    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-indent: 20px;
}

.portfolio_title>h1 {
    font-size: 4rem;
}



.portfolio_text {
    color: white;
    position: relative;
    top: -20vh;
    padding-left: 2rem;
    align-items: center;
    max-width: 900px;
}



.story {


    color: ivory;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    max-width: 300px;
    background: blue;

}








/* GRID CONTAINER */

.grid-wrapper {
    display: grid;
    /* width: 900px; */
    max-width: 95%;
    height: 120vh;

    margin: 30px auto;
    padding: 5px;

    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "one two"
        "three four"
        "five six"

    ;



    /* background: white; */
}

.box {
    background: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.5);
}

.box:hover {}


.box.grid-item-1 {
    grid-area: one;

    background-image: url('../img/epiflora/IOL_1.jpg');

}

.box.grid-item-2 {
    grid-area: two;


    background-image: url('../img/epiflora/IOL_2.jpg');

}


.box.grid-item-3 {
    grid-area: three;


    background-image: url('../img/epiflora/IOL_3.jpg');


}


.box.grid-item-4 {
    grid-area: four;


    background-image: url('../img/epiflora/IOL_4.jpg');


}



.box.grid-item-5 {
    grid-area: five;


    background-image: url('../img/epiflora/IOL_7.jpg');



}

.box.grid-item-6 {
    grid-area: six;

    background-image: url('../img/epiflora/IOL_6.jpg');



}




/* FOOOTER */

footer {
    display: flex;
    justify-content: center;

}

footer a {
    margin: 20px;
    text-decoration: none;
}


/* -------- MEDIA QUERY --------- */




@media only screen and (max-width: 600px) {

    .top {
        height: 70vh;
    }

    #title {

        padding: 10px;


    }

    #av_container {

        background: black;
        position: relative;
        top: -30vh;
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        width: 100%;

        margin-bottom: 30px;






    }

    .grid-wrapper {

        max-width: 95%;
        height: 300vh;

        margin: 30px auto;
        padding: 5px;

        grid-gap: 5px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
            "one"
            "two"
            "three"
            "four"
            "five"
            "six"

        ;



        /* background: white; */
    }









}

@media only screen and (min-width: 600px) {}