
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}



html {
    scroll-behavior: smooth;

}


body {
    margin: 0;
    padding: 0;

    background: black;
    font-family: 'Josefin Slab', serif;

}


main {

}

p {}


.top {

    height: 100vh;

}


#landing {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#landing>h1 {
    font-size: 7rem;
    color: white;
    justify-self: center;
    margin: 1rem;
}

#title {
    position: absolute;
    border: 2px white solid;
    color: white;
    padding: 100px;
    backdrop-filter: blur(4px);
    



}

.icon {
    color: rgba(255, 255, 255, 0.3);
    z-index: 2;
    font-size: 1rem;
    position: relative;
    bottom: -20%;
    transition: .5s all ease-in-out;

        justify-self: center;




}

.icon::before {

    font-size: 1.5rem;

}

.icon:hover {

    color: rgb(255, 255, 255);
    transition: .5s all ease-in-out;

}



#hero {
    height: 60vh;
    margin: 80px 0 20px 0;
    background-image: url('/img/hero_2.png');
    background-size: cover;
    background-repeat: none;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

/*  DESKTOP MENU */ 

.desktopMenu {
background-color: rgba(0, 0, 0, 0.541);
position: sticky;
top: 0;
z-index: 10;
}

.desktopMenu>ul {
   
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;

}


.desktopMenu>ul>li>a {
  
    color: white; 
    font-weight: 300; 
    letter-spacing: 2px; 
    text-decoration: none; 
    background: rgba(26, 26, 26, 0.452); 
    padding: 20px 5px; 
    display: inline-block; 
    width: 100%; 
    text-align: center; 
  
    

}

/* ///////////////////////// */ 

#about {

    font-size: 2vw;
    height: 100vh;
    color: white;
    max-width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10vw 10vh 10vw ;
    padding: 2rem;
}










#portfolio{

    background: black;
    position: relative;
    top: -30vh;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;

    margin-bottom: 30px;




}

#epiflora {


    width: 100%;

}





.epiflora-header {
    max-width: 75vw;
    justify-content: start;
    position: relative;
    left: 0;
}

.intro {
    opacity: 0;
    transform: translateY(20px);

    transition: 2s all ease-in-out;

}

.intro-appear {

    opacity: 1;

    transform: translateY(0px);


}


.portfolio_title {




    position: relative;
   
    top: -50vh;
    /* left: 10vw; */
    padding-right: 2rem;
    color: white;
    display: flex;

    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-indent: 20px;
}

.portfolio_title>h1 {
    font-size: 7vw;
}
.portfolio_title>h3 {
    font-size: 3vw;
}




.portfolio_text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: -30vh;
 


    /* align-items: center; */
    max-width: 900px; 

    font-size: 3rem;
    color: white;
    max-width: 70vw;
  
    margin: 0 10vw 0 10vw ;
}



.story {


    color: ivory;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    max-width: 300px;
    background: blue;

}








/* GRID CONTAINER */

.grid-wrapper {
    display: grid;
    /* width: 900px; */
    max-width: 95%;
    height: 120vh;
    margin: 30px auto;
    padding: 5px;

    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "one two"
        "three four"
        "five six"

    ;



    /* background: white; */
}

.box {
    background: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.5);
}

.box:hover {}


.box.grid-item-1 {
    grid-area: one;

    background-image: url('../img/epiflora/IOL_1.jpg');

}

.box.grid-item-2 {
    grid-area: two;


    background-image: url('../img/epiflora/IOL_2.jpg');

}


.box.grid-item-3 {
    grid-area: three;


    background-image: url('../img/epiflora/IOL_3.jpg');


}


.box.grid-item-4 {
    grid-area: four;


    background-image: url('../img/epiflora/IOL_4.jpg');


}



.box.grid-item-5 {
    grid-area: five;


    background-image: url('../img/epiflora/IOL_7.jpg');



}

.box.grid-item-6 {
    grid-area: six;

    background-image: url('../img/epiflora/IOL_6.jpg');



}


/* /////////// Contact //////// */

#contact {

    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contactTitle{

    color: white;
    align-self: center;
    font-size: 10vw;
    justify-content: center;
}


.contactDetails{

    color: rgb(238, 238, 238);
    align-self: center;
    justify-content: center;

    font-size: 5vw;
}

.contactDetails:hover{

    color: white;

}


#contact>a {
    text-decoration: none;
    align-self: center;
    justify-content: center;

}


/* FOOOTER */

footer {
    display: flex;
    justify-content: center;

}

footer a {
    margin: 20px;
    text-decoration: none;
}




/* HIDE / SHOW */ 

.hide-desktop {
    display: none;
}

.show-desktop {
    display: block;
}





/* -------- MEDIA QUERY --------- */




@media only screen and (max-width: 600px) {

    .top {
        height: 70vh;
    }

    #title {

        padding: 10px;


    }


    #landing {
        height: 95vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    
    #landing>h1 {
        font-size: 4rem;
    }
    

    #portfolio {

        background: black;
        position: relative;
        top: -30vh;
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        width: 100%;

        margin-bottom: 30px;






    }

    .grid-wrapper {

        max-width: 95%;
        height: 300vh;

        margin: 30px auto;
        padding: 5px;

        grid-gap: 5px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
            "one"
            "two"
            "three"
            "four"
            "five"
            "six"

        ;



        /* background: white; */
    }




    .contactTitle{

     
        font-size: 20vw;
    
    }
    
    
    .contactDetails{
    
      
    
        font-size: 10vw;
    }


    #about {

        font-size: 5vw;
     
    }
    

    .portfolio_text {
     
        top: 2vh;
     
    
    
        /* align-items: center; */
        max-width: 900px; 
    
        font-size: .7rem;
        color: white;
        max-width: 70vw;
      
        margin: 0 10vw 0 10vw ;
    }
    
    .portfolio_title {




        position: relative;
       
        top: -20vh;
        /* left: 10vw; */
    
    }
    
    
   


    .show-mobile {
        display: block;
    }

    
    .hide-mobile {
        display: none;
    }
    






}

@media only screen and (min-width: 768px) and (max-width: 1200px){
 

    .portfolio_title {




        position: relative;
       
        top: -30vh;
        /* left: 10vw; */
    
    }
    

    #about {

        font-size: 5vw;
     
    }






    .portfolio_text {
     
        top: 2vh;
     
    
    
        /* align-items: center; */
        max-width: 900px; 
    
        font-size: 2rem;
        color: white;
        max-width: 70vw;
      
        margin: 0 10vw 0 10vw ;
    }
     
    }


@media only screen and (min-width: 600px) {}