* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: black;
    height: 100%;
    overflow: hidden;
}

h1 {
    color: white;
}

#grid-container {

    display: grid;
    grid-template-columns: 100% 100% 100%;
    grid-template-rows: 1fr repeat(4);
    grid-template-areas: 
    "div1 div2 div3"
    "div4 div5 div6"
    "div7 div8 div9"
    "div10 div10 div10";

    transform: translate(-100%, -25%);


}

.fullPage {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;


}



#div1 {
    grid-area: div1;

    background: rgb(75, 101, 245);
    /* transform: translate(0, -100%); */

    /* transition: all 2s ease-in-out; */


}

#div2 {
    grid-area: div2;

    background: black;
    /* transform: translate(0, -100%); */

    /* transition: all 2s ease-in-out; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}




#av_container {

    background: black;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;
    margin-bottom: 30px;




}



#epiflora img {
    max-width: 100vw;

 
}

.portfolio_title {




    position: relative;
    top: -20%;
    color: white;
    display: flex;


    justify-content: center;
    align-items: center;
    flex-direction: row;

    text-indent: 20px;

}




.portfolio_text {
    color: white;
    padding: 20px;

    max-width: 900px;
}





#div3 {
    grid-area: div3;

    background: rgb(255, 166, 0);
    /* transform: translate( -100%, -200%); */

    overflow-y: scroll;



}


#div4 {
    grid-area: div4;

    background: rgb(77, 225, 245);
    height: 100vh;
    /* transform: translate( -100%, -200%); */

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

#div5 {
    grid-area: div5;

    background: rgb(248, 118, 78);

    display: flex;
    flex-direction: column;

   
}

#av {
background-color: rgb(0, 0, 0);
height: 50%;
width: 100%;
display: flex; 
justify-content: center; 
align-items: center;
/* position: relative; */
/* overflow: hidden; */

}

.title {
    color: rgb(255, 255, 255);
    z-index: 10;
    position: absolute;
}

#avVideo {
    /* right: 0;
    bottom: 0; */
     max-height: 100%;  */
    /* min-width: 100%;  */

    /* transform: translate(-50%,-50%); */

}
#code {
background-color: #FF9393;
height: 50%;
width: 100%;

display: flex; 
justify-content: center; 
align-items: center;


}

#div6 {
    grid-area: div6;

    background: #7EDAD4;

 
}

#div7 {
    grid-area: div7;

    background: #FF9393;

 
}
#div8 {
    grid-area: div8;

    background: #FFEC94;

 
}
#div9 {
    grid-area: div9;

    background: #477998;
}

#div10 {
    grid-area: div10;

    background: rgb(0, 0, 0);
}
#animateButton {
    display: flex;
    background-color: white;

    position: absolute;
    top: 10%;
    left: 10%;
}

#rightButton {
    font-size: 1rem;
    height: 3rem;
    padding: 1rem;
    display: flex;
    position: absolute;
    left: 80%;
    top: 50%;
}



.transition {
    transition: transform 2s ease-in-out;

}




/* PARALLAX */


#parallaxObject {
    color: white;
    background-color: purple;
    height: 20px;
    width: 40px;
    z-index: 1;

}

#parallaxObject1 {
    color: white;

    background-color: rgb(0, 119, 128);
    height: 40px;
    width: 40px;

}

#parallaxObject2 {
    color: white;

    background-color: rgb(60, 0, 128);
    height: 80px;
    width: 90px;

}

#parallaxObject3 {
    color: white;

    background-color: rgb(6, 105, 187);
    height: 60px;
    width: 10px;

}
.navigation {

    position: absolute;
    transform: translate(-400%);
}